.about-section {
    padding: 60px 20px;
    background-color: #0d0c17;
    text-align: center;
}

.about-content {
    text-align: center;
}

.about-section h2 {
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
}

.about-section p {
    font-size: 18px;
    color: #ffffff;
    line-height: 1.8;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
}

.about-section p:last-child {
    margin-bottom: 0;
}

/* Video Styling */
.video-container {
    margin-top: 100px;
}

.profile-video {
    max-width: 60%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
